name: checks
on: 
  - push
  - pull_request

jobs:
  joba:
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      output1: ${{ steps.step1.outputs.test }}
      output2: ${{ steps.step2.outputs.test }}
    steps:
      - id: step1
        run: echo "test=hello" >> "$GITHUB_OUTPUT"
      - id: step2
        run: echo "test=world" >> "$GITHUB_OUTPUT"
  jobb:
    runs-on: ubuntu-latest
    needs: joba
    steps:
      - env:
          OUTPUT1: ${{needs.joba.outputs.output1}}
          OUTPUT2: ${{needs.joba.outputs.output2}}
        run: echo "$OUTPUT1 , $OUTPUT2"
 
