name: checks 1
on: 
  - push
  - pull_request

jobs:
  test:
    name: test run action
    runs-on: ubuntu-latest
    steps:
      - name: Generate list using Markdown
        run: |
          echo "This is the lead in sentence for the list" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY # this is a blank line
          echo "- Lets add a bullet point" >> $GITHUB_STEP_SUMMARY
          echo "- Lets add a second bullet point" >> $GITHUB_STEP_SUMMARY
          echo "- How about a third one?" >> $GITHUB_STEP_SUMMARY
      - name: sleep 10 secound
        run: sleep 10
      - name: echo message
        run: echo "hello world"
      - name: test warning
        run: |
          echo "::warning::This is the message%0A 1234 567"
          echo "::error file=hello.h,line=12,col=5,endColumn=16::test error log"
  test_3:
    if: ${{ github.event_name == 'pull_request' }}
    name: test run action 3
    runs-on: ubuntu-latest
    steps:
      - name: Generate list using Markdown
        run: |
          echo "This is the lead in sentence for the list" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY # this is a blank line
          echo "- Lets add a bullet point" >> $GITHUB_STEP_SUMMARY
          echo "- Lets add a second bullet point" >> $GITHUB_STEP_SUMMARY
          echo "- How about a third one?" >> $GITHUB_STEP_SUMMARY
      - name: sleep 10 secound
        run: sleep 10
      - name: test warning
        run: |
          echo "::warning::This is the message%0A 1234 567"
          echo "::error file=hello.h,line=12,col=5,endColumn=16::test error log"
  
